<div class="d-flex justify-content-center">
    <div class="card" style="width: 26rem;">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow bg-light">
                <div class="mb-3">
                  <label for="name" class="form-label">Name:</label>
                  <input 
                    id="name" 
                    formControlName="name" 
                    class="form-control" 
                    placeholder="Enter your name"
                  />
                  <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger mt-1">
                    Name is required.
                  </div>
                </div>
                
                <div class="mb-3">
                  <label for="email" class="form-label">Email:</label>
                  <input 
                    id="email" 
                    formControlName="email" 
                    type="email" 
                    class="form-control" 
                    placeholder="Enter your email"
                  />
                  <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger mt-1">
                    Enter a valid email.
                  </div>
                </div>
                
                <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input 
                    id="password" 
                    type="password" 
                    formControlName="password" 
                    class="form-control" 
                    placeholder="Enter your password"
                  />
                  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger mt-1">
                    Password is required.
                  </div>
                </div>
                
                <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Register</button>
              </form>
              
        </div>
    </div>
</div>